<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parttimejob.mapper.InterviewMapper">

    <resultMap id="BaseResultMap" type="parttimejob.Entity.Interview">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="jobId" column="job_id" jdbcType="BIGINT"/>
            <result property="candidateId" column="candidate_id" jdbcType="BIGINT"/>
            <result property="boosId" column="boos_id" jdbcType="BIGINT"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="time" column="time" jdbcType="TINYINT"/>
            <result property="platform" column="platform" jdbcType="VARCHAR"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="rating" column="rating" jdbcType="TINYINT"/>
            <result property="feedbackContent" column="feedback_content" jdbcType="VARCHAR"/>
        <result property="steps" column="steps"
                jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>


</mapper>
