@font-face {
  font-family: "iconfont"; /* Project id 4725249 */
  src: url('iconfont.woff2?t=1741504314339') format('woff2'),
       url('iconfont.woff?t=1741504314339') format('woff'),
       url('iconfont.ttf?t=1741504314339') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-gongzuonianxian:before {
  content: "\e60b";
}

.icon-leixing:before {
  content: "\e614";
}

.icon-xinzi:before {
  content: "\e634";
}

.icon-didian:before {
  content: "\e978";
}

.icon-didian1:before {
  content: "\e627";
}

.icon-xinzi1:before {
  content: "\e632";
}

.icon-goutong1:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\e7ac";
}

.icon-shengfenzuobiao:before {
  content: "\e61b";
}

.icon-goutong:before {
  content: "\e624";
}

.icon-ganxingquzhiwei:before {
  content: "\e62c";
}

.icon-ganxingquchenggong:before {
  content: "\e633";
}

.icon-shenglvehao1:before {
  content: "\e626";
}

.icon-shenglvehao:before {
  content: "\e731";
}

.icon-shouji:before {
  content: "\e636";
}

.icon-a-gengduohengxiang:before {
  content: "\e673";
}

.icon-yuanquan:before {
  content: "\e63e";
}

.icon-tixing:before {
  content: "\e622";
}

.icon-changyongyu:before {
  content: "\e67a";
}

.icon-tupian:before {
  content: "\e620";
}

.icon-biaoqing:before {
  content: "\e600";
}

